<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title}, ~{::section} )}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section>
		<!--<h1>forget password page</h1>-->
		<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card rounded-3 mt-4">
					
						<h1 class="text-center">Find Your Account</h1>
						<form th:action="@{/sendOTP}" method="post">
					
					    <!-- email -->
							<div class="form-group  mt-4">
								<!--  <label for="email" class="form-label">Enter Registered Email</label> -->
								<input name="email" type="email" class="form-control" id="email" placeholder="Enter Registered Email" required>
							</div>
							
							
							<div class="container text-center">
							   <button type="submit" class="btn btn-warning m-2">Send OTP</button>
							</div>
                            
                            
                            <!-- buttons -->
                           <!--    <button type="submit" class="btn btn-primary m-2">Submit</button>
							<a th:href="@{/signUp}" class="btn btn-secondary m-2">Register</a> -->
						
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	</section>
</body>
</html>