<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title}, ~{::section} )}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section>
	<!-- Password Reset 1 - Bootstrap Brain Component -->
	<section class="min-vh-100 mt-5" style="background-color: #565353 !important">

	<div class="container h-100 pt-5 mt-5">
	  <div class="mt-5 row d-flex justify-content-center justify-content-md-center align-items-center">
		<div class="col-10 col-md-6 col-lg-6">
		  <div class="bg-white p-4 p-md-5 rounded shadow-sm shadow-lg">
			<div class="row gy-3 mb-5">
			  <div class="col-12">
				<div class="text-center">
				  <a href="#!">
					<img src="./assets/img/bsb-logo.svg" alt="E-Notes Logo" width="175" height="57">
				  </a>
				</div>
			  </div>
			  <div class="col-12">
				<h2 class="fs-6 fw-normal text-center text-secondary m-0 px-md-5">Provide the email address associated with your account to recover your password.</h2>
			  </div>
			</div>
			<form th:action="@{/sendOTP}" method="post">
			  <div class="row gy-3 gy-md-4 overflow-hidden">
				<div class="col-12">
				  <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
				  <div class="input-group">
					<span class="input-group-text">
					  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
						<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z" />
					  </svg>
					</span>
					<input type="email" class="form-control" name="email" id="email" required>
				  </div>
				</div>
				<div class="col-12">
				  <div class="d-grid">
					<button class="btn btn-primary btn-lg" type="submit">Send OTP</button>
				  </div>
				</div>
			  </div>
			</form>
			<div class="row">
			  <div class="col-12">
				<hr class="mt-5 mb-4 border-secondary-subtle">
				<div class="d-flex gap-4 justify-content-center">
				  <a th:href="@{/signin}" class="link-secondary text-decoration-none">Log In</a>
				  <a th:href="@{/register}"  class="link-secondary text-decoration-none">Register</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  
	</section>
	</section>
</body>
</html>