<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title}, ~{::section} )}">
<head>

<meta charset="UTF-8">
<title>Home</title>

<link th:href="@{/Css/indexStyle.css}" rel="stylesheet" />


<style type="text/css">
  /* add some extra css */

</style>
</head>
<body>
	<section>
		<div class="container-fluid p-0 m-0 position-relative ">
			<img src="/img/e_notesBG.jpg" class="img-fluid w-100"
				style="height: 90vh; object-fit: cover;">

			<!-- Overlay -->
			<div
				class=" position-absolute top-50 start-50 translate-middle text-white text-center">
				<div class="text-shadow">
				   <h1>Welcome to E-Notes</h1>
				   <p>Your personal notes manager</p>
				</div>
		
			<a th:href="@{/signin}" class="btn btn-primary">Get Started</a>
		</div>
		</div>
	</section>


</body>
</html>