<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title}, ~{::section} )}">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>
<body>
	<section>
		<div>
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card rounded-3 mt-4">
						<h1 class="text-center">Reset Your Password</h1>
						
						<!-- Display success message if 'success' attribute is present -->
						<div th:if="${success}">
						    <div class="alert alert-success">
							<p th:text="${success}" class="text-center"></p>
							<p class="text-center">
                                    <a th:href="@{/signin}">Click here to login</a>
                                </p>
							</div>
						</div>

						<!-- Display error message if 'error' attribute is present -->
						<div th:if="${error}">
						    <div class ="alert alert-danger" role = "alert">
							<p th:text="${error}"></p>
						  </div>
						</div>

						<form th:action="@{/resetPassword}" method="post">
							<!-- Hidden Email Field -->
							<input type="hidden" name="email" th:value="${email}">

							<!-- New Password Field -->
							<div class="form-group mt-4">
								<label for="newPassword">New Password</label> <input
									name="newPassword" type="password" class="form-control"
									id="newPassword" placeholder="Enter New Password" required>
							</div>



							<!-- Confirm Password Field -->
							<div class="form-group mt-4">
								<label for="confirmPassword">Confirm Password</label> <input
									name="confirmPassword" type="password" class="form-control"
									id="confirmPassword" placeholder="Confirm New Password"
									required>
							</div>

							<!-- Show Password Checkbox -->
							<div class="form-group mt-2">
								<input type="checkbox" id="showPassword"> Show Passwords
							</div>


							<!-- btn for reset -->
							<div class="text-center mt-4">
								<button type="submit" class="btn btn-warning">Reset
									Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		var newPassword = document.getElementById("newPassword");
		var confirmPassword = document.getElementById("confirmPassword");
		var showPassword = document.getElementById("showPassword");
		showPassword.addEventListener('click', function() {
			if (newPassword.type === "password"
					|| confirmPassword.type === "password") {
				newPassword.type = "text";
				confirmPassword.type = "text";
			} else {
				newPassword.type = "password";
				confirmPassword.type = "password";
			}
		})
	</script>
	</section>
</body>
</html>