<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::title}, ~{::section} )}">
<head>
<meta charset="UTF-8">
<title>Setting</title>

</head>
<body>
	<section>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 mt-5">
					<div class="my-card rounded-3 p-4">

						<h1 class="text-center mb-3">Change Password</h1>

						<!-- Success Message -->
						<div th:if="${success}"
							class="alert alert-success alert-dismissible fade show"
							role="alert">
							<span th:text="${success}"></span>
							<button type="button" class="btn-close" data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>

						<!-- Error Message -->
						<div th:if="${error}"
							class="alert alert-danger alert-dismissible fade show"
							role="alert">
							<span th:text="${error}"></span>
							<button type="button" class="btn-close" data-bs-dismiss="alert"
								aria-label="Close"></button>
						</div>

						<form th:action="@{/user/changePassword}" method="post"
							th:object="${userEntity}">

							<!-- Old password -->
							<div class="form-group mb-3">
								<label for="oldPassword" class="form-label">Enter Old
									Password</label> <input type="password" name="oldPassword" required
									class="form-control" id="oldPassword">
							</div>

							<!-- New password -->
							<div class="form-group mb-3">
								<label for="newPassword" class="form-label">Enter New
									Password</label> <input type="password" name="newPassword" required
									class="form-control" id="newPassword">
							</div>

							<!-- Buttons -->
							<div class="d-flex justify-content-between">
								<button type="submit" class="btn btn-primary">Submit</button>
								<button type="reset" class="btn btn-secondary">Reset</button>
							</div>

						</form>

					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>
